[submodule "engine"]
	path = engine
	url = https://github.com/2026-SKP-MIRAI/mirai-engine.git
[submodule "services/siw"]
	path = services/siw
	url = https://github.com/2026-SKP-MIRAI/mirai-siw.git
[submodule "services/kwan"]
	path = services/kwan
	url = https://github.com/2026-SKP-MIRAI/mirai-kwan.git
[submodule "services/seung"]
	path = services/seung
	url = https://github.com/2026-SKP-MIRAI/mirai-seung.git
[submodule "services/lww"]
	path = services/lww
	url = https://github.com/2026-SKP-MIRAI/mirai-lww.git
